.Respuesta .Respuesta-avisoOk {
	background: #6bca81 url(resources/images/buttons/success.gif) 15px 50% no-repeat;
	color: #fff;
border-top: 1px solid #609c43;
border-bottom: 1px solid #609c43;
}

.Respuesta .Respuesta-guardarPlan {
	background: #4D90FE;
	  background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
  background-image: -webkit-linear-gradient(center top , #4D90FE, #4787ED);
  background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
  background-image: -o-linear-gradient(center top , #4D90FE, #4787ED);
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 2px 2px 2px 2px;
-moz-border-radius: 2px;
-o-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
padding: 0 10px;
position: relative;
color: #ffffff;
cursor: pointer;
}

.Respuesta .Respuesta-limpiarPlan {
	background-color: #f8f8f8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#ececec));
background-image: -webkit-linear-gradient(top,#f8f8f8,#ececec);
background-image: -moz-linear-gradient(top,#f8f8f8,#ececec);
background-image: -ms-linear-gradient(top,#f8f8f8,#ececec);
background-image: -o-linear-gradient(top,#f8f8f8,#ececec);
background-image: linear-gradient(top,#f8f8f8,#ececec);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f8f8f8',EndColorStr='#ececec');
border: 1px solid #c6c6c6;
-moz-border-radius: 2px;
-o-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
padding: 0 10px;
position: relative;
color: #666;
cursor: pointer;
}

